extends layout

block content

  if movies.length
    table.listing-table.table-dark.table-striped
      tr
        th Name a(href="/movieDetails")
        th Year
        th Rating
      each movie in movies
        tr
          td= movie.title
          td=movie.year
          td= movie.imdb.rating
  else
    p No Movies yet :(